@import "tailwindcss";

:root {
  --color-1: #dafffd; /* background color */
  --color-2: #90e8d4; /* text color */

  /* additional/unlabeled colors */
  --color-3: #3a2503; 
  --color-4: #ff3e3e; 
  --color-5: #ffba08;
}

body {
  background: var(--color-1);
  color: var(--color-2);
  font-family: Arial, Helvetica, sans-serif;
}
